@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

.navbar {
  background: #000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #ffffff,
    #6dd5fa,
    #84c9f8
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #ffffff,
    #6dd5fa,
    #84c9f8
  ); 

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}

.navbar ul li {
  transition: all ease-in-out;
}

.navbar ul li:hover {
  transform: translateY(-1px);
  border-bottom: solid #000;
}

/* primary-color: #e3f2fd */
